body
{
	background-color:#202426;
	font-family:"Lato";
	font-size:1.4em;
}

#tapis
{
	color:white;
	background-color:#bc3c42;
	border-style:solid;
	text-align:center;
	width:50%;
	margin-left:25%;
	height: 70vh;
}

button
{
	font-size:1em;
	font-family:simplifica;
	background-color:#e75045;
	box-shadow: 0 8px 0 #bc3c42;
	color:white;
	padding: 10px;
	text-decoration:none;
	border-style:none;
	border-radius:5px;	
	text-align:center;

}

button:active
{
	transform:translateY(5px);
	box-shadow: 0 5px 0 #bc3c42;
	
}

#scorejoueur, #scorebanque
{
	color:white;
}
.textescore
{
	margin-left: 50px;
}
h1
{
	color:#bf9968;
	text-align:center;
	height: 2vh;
}